@page "/deliverymen"
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation
@inject HttpClient Http

<h3>عرض المناديب</h3>

<div>

    <SfButton @onclick="Add" CssClass="e-info"> اضافة مندوب </SfButton>

    <SfGrid ID="Grid" AllowReordering="true" @ref="Grid" AllowFiltering="true" AllowExcelExport="true" AllowGrouping="true" AllowPdfExport="true"
            AllowRowDragAndDrop="true" AllowSorting="true" AllowTextWrap="true" Width="100%" AllowPaging="true" TValue="DeliveryManDto" EnableRtl="true"
            Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })">

        <GridPageSettings PageSize="20"></GridPageSettings>
        <GridEvents OnToolbarClick="ToolbarClick" TValue="DeliveryManDto"></GridEvents>

        <SfDataManager Url="@($"api/DeliveryMen/GetDeliveryMenPage/")" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
        <GridColumns>
            <GridColumn Field=@(nameof(DeliveryManDto.Id)) HeaderText="الأي دي"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.NameAr)) HeaderText="الاسم العربي"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.NameEn)) HeaderText="الاسم الانجليزي"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.Phone)) HeaderText="موبايل"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.StateName)) HeaderText="محافظة"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.CityName)) HeaderText="مدينة"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.GenderName)) HeaderText="النوع"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.Age)) HeaderText="العمر"></GridColumn>
            <GridColumn Field=@(nameof(DeliveryManDto.Active)) HeaderText="فعال" Type="ColumnType.Boolean">
                <Template>
                    <span>@((context as DeliveryManDto).Active == true ? "نعم" : "لا")</span>
                </Template>
            </GridColumn>

            <GridColumn HeaderText="خيارات" TextAlign="TextAlign.Center" Width="170">
                <Template>

                    <div class="d-flex justify-content-center">
                        <div class="col-6">
                            <button class="btn-icon-btn btn-outline-light" @onclick="@(() => Edit((context as DeliveryManDto).Id))">
                                <img class="btn-icon" src="/img/editingColored.svg" />
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn-icon-btn btn-outline-light" @onclick="@(() => Delete((context as DeliveryManDto).Id))">
                                <img class="btn-icon" src="/img/trash.png" />
                            </button>
                        </div>
                    </div>

                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@if (DeletedRecordId > 0)
{
    <DeleteConfirmationComponent DeletedRecordId="@DeletedRecordId" OnSuccess="OnSuccessDeleting" OnCancel="OnCancelDeleting"></DeleteConfirmationComponent>
}


@code {


    SfGrid<DeliveryManDto> Grid;


    public void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport")
        {
            this.Grid.ExcelExport();
        }
        if (args.Item.Id == "Grid_pdfexport")
        {
            this.Grid.PdfExport();
        }
    }

    private void Edit(int Id)
    {
        Navigation.NavigateTo($"/deliverymen/update/{Id}");

    }

    public async Task Add()
    {
        Navigation.NavigateTo("/deliverymen/create");
    }

    #region DeleteDialog

    public int DeletedRecordId { get; set; }

    private void Delete(int Id)
    {
        DeletedRecordId = Id;
    }

    private async Task DeleteConfirmed()
    {
        try
        {
            if (DeletedRecordId > 0)
            {
                var response = await Http.PostAsJsonAsync<int>("api/DeliveryMen/Delete", DeletedRecordId);
                if (!response.IsSuccessStatusCode)
                {
                    string error = await response.Content.ReadAsStringAsync();
                    //var converted = JsonConvert.DeserializeObject<ExceptionResponse>(error);
                    //await umAlQuraOperations.ShowToast("رساله خطأ من النظام", converted.Detail, "error");

                }
            }

        }
        catch (Exception ex)
        {

            //await umAlQuraOperations.ShowToast("رساله خطأ من النظام", ex.Message, "error");
        }

        Grid.Refresh();
    }



    public async Task OnCancelDeleting()
    {
        DeletedRecordId = 0;
    }

    public async Task OnSuccessDeleting()
    {
        await DeleteConfirmed();
        DeletedRecordId = 0;
    }

    #endregion

}
